<% provide(:title, 'Home') %>
<div class="container">
	<div class="row" style="text-align:center">
		<!-- <a href="/artists"> <%= image_tag 'home.jpg' %></a> -->
		<iframe width="800" height="640" src="//www.youtube.com/embed/6v2L2UGZJAM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

