<div class="container">
        <div class="row">
        <br/><br/><br/><br/><br/> 
       	 <% if !@message.nil? %>
			    <div class="alert alert-info"><%= @message %></div>
			<% end %>
        </div>
</div>