<a class="btn btn-default" href="/new"><span class="glyphicon glyphicon-plus-sign"></span> Add a Shelter</a>
<p></p>
<table class="table table-hover table-bordered">
	<thead>
		<th>Shelter Name</th>
		<th>Location</th>
		<th>Capacity</th>
		<th></th>
	</thead>

	<tbody>
		<% @shelters.each do |shelter| %>
		<tr>
			<td> <%= shelter.name %></td>
			<td> <%= shelter.location %></td>
			<td> <%= shelter.capacity %></td>
			<td><a href="/shelters/<%= shelter.id %>">Show</a></td>
		</tr>
		<% end %>
	</tbody>
</table>