
<div class="row">
	<table class="table table-bordered">
		<thead>
			<th><a href="/?sort=title">Title</a></th>
			<th><a href="#">Short Description</a></th>
			<th><a href="/?sort=updated_at">Updated At</a></th>
		</thead>
	<% @blogs.each do |blog| %>
		<tr>
			<td> <a href="/posts/<%= blog['id'] %>"><%= blog['title'] %> </a> </td>
			<td> <%= blog['description'] %> </td>
			<td> <%= blog['updated_at'] %> </td>
		</tr>
	<% end %>
	</table>
	<br/>
	<form action='/new' method="get">
		<button class="btn btn-primary pull-right" type="submit">create blog</button>
	</form>
</div>