<!DOCTYPE html>
<html>
<head>
	<title>Sinatra Blog</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<h3>BLOGGING</h3>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>