
<header>
	<div class="ecardlogo">
	  
	</div>
</header>

<div class="clearfix">

<div id="container">

	<div id="content">

		<h3>Ecard of the day</h3>

		<img src="/images/ecard-nycstartups.jpg" class="imgright imgborder">                      
             <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a consectetur purus. Pellentesque at leo erat, id pellentesque sapien. Cras id purus sem. Nulla lacinia consequat nulla, vitae porttitor urna venenatis id. Nam iaculis risus ac mauris vestibulum malesuada. Nulla dolor mi, cursus sed ornare vel, feugiat sed nibh. Suspendisse vitae pulvinar ligula. In eu dui erat. Etiam sit amet malesuada turpis. Duis dapibus feugiat euismod. Suspendisse vitae consequat nunc. Vivamus aliquet vulputate varius.<strong color='red'> Download </strong>

            </p>

        <span>
    		Posted by steven smith on August 2, 2012/comments(3)
    	</span>
    </div>

    


    <div id="content">

		<h3>Doing the Big Work</h3>

		<img src="/images/ecard-courage.jpg" class="imgright imgborder">                      
             <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a consectetur purus. Pellentesque at leo erat, id pellentesque sapien. Cras id purus sem. Nulla lacinia consequat nulla, vitae porttitor urna venenatis id. Nam iaculis risus ac mauris vestibulum malesuada. Nulla dolor mi, cursus sed ornare vel, feugiat sed nibh. Suspendisse vitae pulvinar ligula. In eu dui erat. Etiam sit amet malesuada turpis. Duis dapibus feugiat euismod. Suspendisse vitae consequat nunc. Vivamus aliquet vulputate varius.<strong color='red'> Download </strong>

            </p>

        <span>
    		Posted by steven smith on August 2, 2012/comments(3)
    	</span>
    </div>

</div>

<div id="container2">
<br/>
	<h4>ARCHIVE</h4>
	<div id="content">
		<a href="#">January</a><br/>
        <a href="#">February</a><br/>
        <a href="#">March</a><br/>
        <a href="#">April</a><br/>
        <a href="#">May</a><br/>
		<a href="#">June</a><br/>
		<a href="#">July</a><br/>
    </div>
	<br/>
    <h4>Blogroll</h4>
	<div id="content">
		
        	<a href="#">Mailchimp</a><br/>
            <a href="#">shopify</a><br/>
            <a href="#">The next web</a><br/>
            <a href="#">Mint.com</a><br/>
            <a href="#">Mashable</a><br/>
        </ul>

    </div>
	
	<div id="content">
		<img src="/images/ad-cut-and-paste.gif" class="imgright imgborder"> 
	</div>

	<br/>
	<div id="content">
		<img src="/images/ad-postcard-tee.png" class="imgright imgborder"> 
	</div>
	<div id="content">
		<img src="/images/ad-submit-your-own.png" class="imgright imgborder"> 
	</div>
</div>

</div>
	
<footer>
	 <div id="socialMedia" class="clearfix">
            <ul>
                <li class="twitter"><a href="#">Twitter</a></li>
                <li class="facebook"><a href="#">Facebook</a></li>
                <li class="pinrest"><a href="#">Pinrest</a></li>
            </ul>
      </div>	
</footer>
