    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Our Story. <i class="small text-info">Transforms thinkers into creators.</i></h3>
            </div>
        </div>


        <div class="jumbotron">
            <h2>GENERAL ASSEMBLY</h2>
            <p class="text-muted">At General Assembly, we are creating a global community of individuals empowered to pursue work they love, by offering full-time immersive programs, long-form courses, and classes and workshops on the most relevant skills of the 21st century – from web development and user experience design, to business fundamentals, to data science, to product management and digital marketing.Established in early 2011 as an innovative community in New York City for entrepreneurs and startup companies, General Assembly is an educational institution that transforms thinkers into creators through education in technology, business and design at nine campuses across four continents.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>

        

        <!-- Company Area -->
        <div class="row">

            <div class="col-md-12">
            <h3>EXPLORE THE SYLLABUS</h3>
                <section>

                    <div class="col-md-8">
                        <div class="panel-group" id="accordion">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                  Installfest (Getting Setup)
                              </a>
                          </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                            <ul>
                                <li>Terminal</li>
                                <li>Sublime Text</li>
                                <li>XCode</li>
                                <li>Rails</li>
                                <li>Ruby</li>
                                <li>Databases</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                          Fundamentals of Programming with Ruby and TDD
                      </a>
                  </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                        <li>Implement Git as a source control system by pushing, pulling, and merging code</li>
                        <li>Learn the fundamentals of object-oriented programming with Ruby by using variables, operators, conditionals, loops, methods, classes, and modules</li>
                        <li>Research and implement Ruby gems to expand functionality</li>
                        <li>Build functionality based on tests by applying test-driven development techniques (TDD/BDD)</li>
                        <li>Research and apply Ruby Gems to enhance a program</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Introduction to the Web and HTML5 + CSS3
              </a>
          </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
                <li>Understand the story of the internet and how it works</li>
                <li>Practice the user-facing building blocks of the web: HTML tags</li>
                <li>Apply CSS to HTML to create attractive, cross-browser compatible, and mobile responsive designs</li>
                <li>Working with Sinatra apps</li>
                <li>Working with gems like pony yahoofinance and omdb movie api</li>
                <li>Challenging Problems</li>
            </ul>
        </div>


    </div>
    </div>
    </div>
    </div>
    <div class="col-md-4">
        <p class="well lead text-center">General Assembly transforms thinkers into creators through education and opportunities in technology, business, and design.</p>
    </div>
    </section>
    </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="/img/nice_snow.png" class="img-circle" data-src="holder.js/300x200" alt="...">
                <div class="caption">
                    <h3>Daniel Tsui</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Learn More &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="/img/nice_snow.png" class="img-circle" data-src="holder.js/300x200" alt="...">
                <div class="caption">
                    <h3>Taryn East</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Learn More &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>